/* poppins-200 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/poppins-v21-latin-200.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('../fonts/poppins-v21-latin-200.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* poppins-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v21-latin-300.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('../fonts/poppins-v21-latin-300.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* poppins-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v21-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('../fonts/poppins-v21-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* poppins-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins-v21-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('../fonts/poppins-v21-latin-500.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* poppins-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v21-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('../fonts/poppins-v21-latin-600.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* poppins-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v21-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('../fonts/poppins-v21-latin-700.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* poppins-800 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/poppins-v21-latin-800.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('../fonts/poppins-v21-latin-800.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* poppins-900 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/poppins-v21-latin-900.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('../fonts/poppins-v21-latin-900.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* .body {

} */
* {
    margin: 0;  
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.container {
    
    max-width: 1380px;
    margin: 0 auto;
    padding: 0 20px;
}
.header {
    padding: 20px 0px;
}
.header__dark {
    border: none;
    color: #000;
    background-color: rgb(31, 46, 53);
}
/* .header__top-img {

} */
.header__moon {
    display: none;
}
.header__dark .header__sun {
    display: none;
}
.header__dark .header__moon {
    display: block;
}
.header__wrapper {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    
}
.header__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__list {
    display: flex;
    align-items: center;
    margin-right: 24px;
}
.header__item {
    margin: 12px;
}
.header__item-link {
    color: rgb(34, 52, 61);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
}

.header__dark .header__item-link {
    color: rgb(255, 255, 255);
} 
.header__item-link:hover {
    color: rgb(0, 0, 0);
    
}
.header__dark .header__item-link:hover {
    font-weight: 600;
    color: rgb(255, 255, 255);
    
}
.header__top-inner {
    margin-right: 20px;
}
.header__top-btn {
    padding: 10px 23px;
    margin: 8px;
    border: none;
    color: rgb(23, 58, 86);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    box-sizing: border-box;
    border: 1px solid rgb(188, 208, 229);
    border-radius: 4px;
    transition: all ease-in 0.3s;
}
.header__top-btn:hover {
    border-radius: 4px;
    color: rgb(255, 255, 255);
    background: rgb(2, 137, 122);
}
.header__span-wrapper {
    display: none;
}
.header__span-wrapper {
    display: flex;
    flex-direction: column;
    display: none;
}
.header__span {
    display: inline-block;
    width: 22px;
    height: 4px;
    background-color: rgb(23, 58, 86);
    margin-top: 2px;
    border-radius: 3px;
}
.header__dark .header__span  {
    background-color: #fff;
}
@media only screen and (max-width: 870px) {
    .header__list {
        margin-right: 2px;
    }
    .header__item {
        font-size: 10px;
        margin: 6px;
    }
    .header__top-btn {
        padding: 8px 18px;
    }
    
}
@media only screen and (max-width: 744px)  {
    .header__top-img {
        width: 26px;
        height: 26px;
    }
    .header__top-btn {
        margin: 2px;
        padding: 6px 16px;
    }
    .header__top-inner {
        margin-right: 6px;
    }
}
@media only screen and (max-width: 694px)  {
    .header__inner {
        display: none;
    }
    .header__span-wrapper {
        display: flex;
        
    }
    
}
.hiro {
    padding: 112px 0 118px;
}
.hiro__wrapper {
    
    
}
.hiro__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    color: rgb(34, 52, 61);
    font-family: Poppins;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0px;
    text-align: left;
    
}
.header__dark .hiro__title {
    color: #fff;
}
.hiro__inner {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: space-evenly; 
    
}
@media only screen and (max-width: 800px) {
.hiro__inner-link {
    margin: 0 22px;
    margin-top: 28px;
}
}
.card {
    padding: 24px 0 68px;
    background-color: rgb(245, 245, 245);
}
.header__dark .card {
    background-color: rgb(37, 37, 37);
}
/* .card__wrapper {

} */

.card__inner {
    display: flex;
    justify-content: center;
    
}
.card__title {
    max-width: 539px;
    color: rgb(34, 52, 61);
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: center;
}
.header__dark .card__title {
    color: #ffffff;
}
.card__list {
    margin-top: 66px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-evenly;
    
}
.card__item {
   
    margin-top: 20px;
    padding: 32px 37px 34px;
    box-sizing: border-box;
    border: 1px solid rgb(222, 222, 222);
    border-radius: 10px;
    text-align: center;
}
.card-img {
    
}
.card__titles {
    margin-top: 30px;
    color: rgb(34, 52, 61);
    font-family: Poppins;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0px;
    text-align: center;
}
.header__dark .card__titles {
color: #fff;
}
.card__text {
    margin-top: 13px;
    max-width: 240px;
    color: rgb(34, 52, 61);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
}
.header__dark .card__text {
    color: #fff;
}
@media only screen and ( max-width: 1030px) {
    .card__item {
        margin: 0 15px;
        margin-top: 22px;
    }
}
@media only screen and ( max-width: 930px) {
    .card__wrapper {
        padding: 50px 0 50px;
    }
    .card__list {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}
@media only screen and ( max-width: 444px) {
    
    .card__titles {
        text-align: center;
    }
    .card__text {
        text-align: center;
    } 
}
.step {
padding: 100px 0;
}
/* .step__wrapper {

} */
.step__inner {
    display: flex;
    align-items: center;
    justify-content: center;
}
.step__title {
    margin-bottom: 84px;
    color: rgb(34, 52, 61);
    font-family: Poppins;
    font-size: 34px;
    font-weight: 700;
    line-height: 51px;
    letter-spacing: 0px;
    text-align: center;
}
.header__dark .step__title {
    color: #fff;
}
.step__list {
    
}
.step__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 111px;
}
.step__item:nth-child(2) {
    flex-direction: row-reverse;
}
.step__item-inner {
    margin-left: 90px;
}
.step__item .step__item-inner:nth-child(2){
    margin-right: 90px;
}
.step__item-text {
    color: rgb(34, 52, 61);
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
}
.header__dark .step__item-text {
    color: #fff;
}
.step__item-title {
    color: rgb(34, 52, 61);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: left;
}
.header__dark .step__item-title {
    color: #fff;
}
.step__text {
    max-width: 438px;
    color: rgb(34, 52, 61);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
}
.header__dark .step__text {
    color: #ffffff;
}
.step__btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}
.step__btn {
    border: none;
    padding: 11px 26px;
    border-radius: 8px;
    background: rgb(2, 137, 122);
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}
@media only screen and ( max-width: 930px) {
    .step__item-inner {
        margin-left: 33px;
    }
}
@media only screen and ( max-width: 900px) {
    .step__img {
        width: 269px;
        height: 168px;
        text-align: center;
    }
    .step__item {
        display: flex;
        flex-wrap: wrap;
    }
    .step__item-inner {
        margin-top: 55px;
    }
    
}
@media only screen and ( max-width: 510px) {
    .step__img {
        width: 269px;
        height: 168px;
        text-align: center;
    }
    .step__item .step__item-inner:nth-child(2){
        margin-right: 0px;
    }
}
@media only screen and ( max-width: 375px) {
    .step__item-inner {
        margin-left: 0px;
        
    }
    
}
.site {
    padding: 35px 0 45px;
}
/* .site__wrapper {
    
} */
.site__inner {
    display: flex;
    align-items: center;
    justify-content: center;
}
.site__list-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 63px;
}
.site__title {
    max-width: 537px;
    color: rgb(34, 52, 61);
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: center;
}
.header__dark .site__title {
    color: #fff;
}
.site__list {
    margin: 0 111px;
}
.site__item {
    text-align: center;
    margin-top: 66px;
}
.site__item-title {
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 16px;
}
.header__dark .site__item-title {
    color: #fff;
}
.site__item-text {
    color: rgb(34, 52, 61);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 8px;
}
.header__dark .site__item-text {
    color: #fff;
}
.site__titles {
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 12px;
}
.header__dark .site__titles {
    color: #fff;
}
@media only screen and ( max-width: 978px) {
    .site__list {
        margin: 0 33px;
    }
}
.join {
padding: 58px 0 60px;
}
.join__wrapper {
    display: flex;
    justify-content: center;
 
}
.join__inner {
    display: flex;
    border-radius: 32px;
    background: rgb(2, 137, 122);
    padding: 49px 36px 20px 51px;
}
.join__title {
    max-width: 510px;
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 32px;
    font-weight: 600;
    line-height: 151.4%;
    letter-spacing: 0%;
    text-align: left;
}
.header__dark .join__title {
    color: #fff;
}
.join__btn {
    padding: 6px 35px;
    border: none;
    color: rgb(2, 137, 122);
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    margin-top: 98px;
}
/* .join__img {
 
} */
@media only screen and ( max-width: 768px) {
    .join__title {
        font-size: 22px;
    }
    .join__btn {
        padding: 4px 33px;
        font-size: 16px;
        margin-top: 80px;
    }
    .join__img {
        width: 331;
        height: 311px;
    }
    
}
@media only screen and ( max-width: 600px) {
    .join__top-wrapper {
        text-align: center;
    }
    .join__inner {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 10px 6px;
    }
    .join__title {
        text-align: center;
    }
    
}
.footer {
    margin-top: 150px;
}
.footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
}
.footer__logo {
    
}
.footer__moon {
    display: none;
}
.header__dark .footer__sun {
    display: none;
}
.header__dark .footer__moon {
    display: block;
}
.footer__img {
    margin-left: 16px;
    margin-top: 16px;
}
.footer__list {
    display: flex;  
    align-items: center;
    flex-direction: column; 
    text-align: center;
}
.footer__item {
    
} 
.footer__title {
    margin-bottom: 8px;
    color: rgb(34, 52, 61);
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
}
.header__dark .footer__title {
    color: #fff;
}
.footer__link {
    color: rgb(34, 52, 61);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0px;
    text-align: left;
}
.header__dark .footer__link {
    color: #fff;
}
.footer__inner {
    display: flex;
    align-items: baseline;
    flex-direction: column;
}
.footer__titlrs {
    max-width: 280px;
    color: rgb(34, 52, 61);
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
}
.header__dark .footer__titlrs {
    color: #fff;
}
.footer__inp {
    margin-top: 34px;
    width: 325px;
    padding: 10px 0 10px 15px;
    color: rgb(188, 208, 229);
    font-family: ProximaNova;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    box-sizing: border-box;
    border: 1px solid rgb(188, 208, 229);
    border-radius: 4px;
    outline: none;
    background: rgb(255, 255, 255);
    
}
.footer__btn {
    margin-top: 21px;
    border: none;
    padding: 8px 15px ;
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    border-radius: 4px;
    background: rgb(2, 137, 122);
    letter-spacing: 0px;
    
    
}
.footer__top-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.footer__top-text {
    color: rgb(34, 52, 61);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
}
.header__dark .footer__top-text {
    color: #fff;
}

@media only screen and (max-width: 820px) {
    .footer__list {
        margin: 0 20px;
    }
}

@media only screen and (max-width: 520px) {
    .footer__inner {
        margin-top: 33px;
        
    }
}
@media only screen and (max-width: 490px) {
    .footer__wrapper {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .footer__inner {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin: 0 10px;
        margin-top: 22px;
    }
    .footer__titlrs {
        text-align: center;
    }
    .footer__list {
        margin-top: 33px;
    }
}
